* {
    margin: 0;
    padding: 0;
}

button {
    padding: 15.5px 65px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.label-button {
    color: #FFEEF2;
}



