* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 54px;
    gap: 16px;
    align-self: center;
    border-radius: 27px 27px 0px 0px;
    width: 45%;
    height: 80%;
    background-color: #FFC8FB;
}

tr {
    font-size: 24px;
    font-weight: 600;
    color: #595758;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'inter';
}

tbody {
    width: 80%;
    display: flex;
}

tr {
    width: 100%;
    display: flex;
}