.container-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    width: 100%;
    background-color: #FFEEF2;
    padding: 23px 29px;
    border: solid rgba(139, 137, 138, 0.5) 1px;
    border-radius: 10px;
}

.container-card h1 {
    width: 80px;
    font-weight: 400;
    font-size: 14px;
    color: #595758;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #595758;
}