* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    background-color: #FFC8FB;
    padding: 18px 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
    color: #595758;
}

form {
    width: 100vw;
}

.container {
    width: 70%;
    position: relative;
    align-items: center;
}

.invisible {
    opacity: 0;
    display: none;
}

.password {
    opacity: 1;
    position: absolute;
    right: 15px;
}