* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    background-color: #FFC8FB;
    padding: 18px 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: #595758;
}

form {
    width: 100%;
}

.password {
    opacity: 0;
    position: absolute;
    left: 2300px;
}