* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-entry {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #FFEEF2;
    position: relative;
}

.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.form-entry {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    padding: 40px;
    gap: 48px;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-entry form {
    width: 80%;
    display: flex;
    gap: 135px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-planets {
    position: absolute;
    top: 0;
    right: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    padding: 17px 66px;
}

header nav {
    display: flex;
    width: 100%;
    gap: 41px;
    justify-content: center;
}

nav a {
    font-family: "inter";
    text-decoration: none;
    color: #595758;
    font-size: 18px;
}

h2 {
    font-family: "inter";
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 24px;
    color: #595758;
}